{% extends "base.html" %}

{% block footer %}
 <a target='_blank' href='https://github.com/peeringdb/peeringdb/issues'><img style='height:50px' src='/img/github.png'></a>
 <a target='_blank' href='https://twitter.com/PeeringDB'><img style='height:50px' src='/img/twitter.png'></a>
 <a target='_blank' href='https://www.facebook.com/peeringdb'><img style='height:50px' src='/img/facebook.png'></a>
 <a target='_blank' href='https://www.linkedin.com/company/peeringdb'><img style='height:50px' src='/img/linkedin.png'></a>
{% endblock %}
