{% extends "base.html" %}

{% block footer %}
 <a target='_blank' href='https://www.peeringdb.com/'><img align=left src='/img/./pdb-logo-coloured.png'></a>
 <a target='_blank' href='https://www.facebook.com/peeringdb'><img align=right style='height:50px; padding:5px' src='/img/social-facebook.png'></a>
 <a target='_blank' href='https://github.com/peeringdb/peeringdb/issues'><img align=right style='height:50px; padding:5px' src='/img/social-github.png'></a>
 <a target='_blank' href='https://www.linkedin.com/company/peeringdb'><img align=right style='height:50px; padding:5px' src='/img/social-linkedin.png'></a>
 <a target='_blank' href='https://twitter.com/PeeringDB'><img align=right style='height:50px; padding:5px' src='/img/social-twitter.png'></a>
{% endblock %}
